* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Segoe UI Regular';
    src: url('../fuentes/Segoe\ UI.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('../fuentes/Segoe\ UI\ Bold.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Segoe UI Light';
    src: url('../fuentes/segoeuil.ttf');
    font-style: normal;
    font-weight: normal;
}

body{
    display: flex;
    background-color:beige;
    min-height: 100vh;    /*altura min = 100% del dispositivo*/
    justify-content:center;
    align-items:center;
    font-family:'Segoe UI Light' ;
    font-weight:500;
    font-stretch:ultra-expanded; 
}

.container{
    position: relative;
    width: 100%;
    margin: 40px;
    max-width: 1000px;
    min-height: 1000px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.left-side{
    position: relative;
    padding: 40px;
    background-color: cornflowerblue;
    color: white;
}

.profile-img{
    position: relative;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 50%;
    border-color: #aed1e7;
    overflow: hidden;  /*En caso de que la img se salga de la caja ocultar lo que desborde*/
    margin: auto;
}
.profile-img img{    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.name-left-box{          /*texto oculto en desktop*/
    display: none;       /*visible en tablety cel*/
}

.title-left{
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    font-weight: 600;
}


.contact-info ul{
    position: relative;  /*why ???*/ 
}

.contact-info ul li{
    position: relative;
    display: flex;
    list-style: none;
    margin: 5px 0;
    justify-content:left;
    cursor: pointer;
}

.contact-info .material-icons{
    margin-right: 10px;
}


.skills li{
    position: relative;
    display: flex;
    list-style: none;
    margin: 5px 0;
    align-items: center;
}

.skill-name{
    width: 40%;
}

.barr{
    position: relative;
    background-color: darkgrey;
    width: 60%;
    height: 10px;
    border-radius: 50px;
}

.progress{
    position: absolute;
    background-color:white;
    height: 100%;
    border-radius: 50px;
}

.html{width: 90%;}
.css{width: 70%;}
.javascript{width: 50%;}
.reactjs{width: 40%;}

.languages li{
    position: relative;
    display: flex;
    list-style: none;
    margin: 5px 0;
    align-items: center; 
}

.languages .name-lang{
    width: 30%;
}

.languages .stars-container{
    text-align-last: right;
    width:100%;
    font-size: large;
    color: white;
}

.hobbies div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.hobbies span{
    font-size: 50px;
}

.net-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.net-container img{
    height: 40px;
    width: 40px;
    cursor: pointer;
    filter: invert();
}

.right-side{
    position: relative;
    padding: 40px;
    background-color: white;
}


.name-right-box h1{
    font-size: 45px;
    color:#0e3874;
}

.title-right{
    color:#0e3874;
    text-transform: uppercase;
    margin: 50px 0 20px 0;
}

.about{
    margin-top: 100px;
    text-align: justify;
    margin-bottom: 50px;
}

.education{
    display:flex;
    text-align: justify;
    margin-bottom: 12px;
}
 .education .date{
    min-width: 150px;
 }

 .institution-diploma h4{
    text-transform: uppercase;
    color:#2a7da2;
 }
 .institution-diploma h6{
    text-transform: uppercase;
    color:darkgrey;
    margin-bottom: 5px;
 }
 
 .experience{
    display:flex;
    text-align: justify;
    margin-bottom: 12px;
 }
 
 .date-company{
    min-width: 150px;
 }

 .position-information h4{
    text-transform: uppercase;
    color:#2a7da2;
 }
 .date-company h4:last-child{
    color:darkgray
}


/*Para pantallas de menos de 768 pixeles (celulares)*/
@media(max-width: 767px){

    .container{
        margin: 10px;
        grid-template-columns: 1fr; 
    }
    .name-left-box{          /*texto oculto en desktop*/
        display:contents;       /*visible en tablety cel*/
        text-align: center;
    }

    .skills li{
        flex-direction: column;
       }
    .skill-name{
        width: 100%;
    }
    .barr{
        width: 100%;
    }
    .name-right-box{
        display: none;
    } 
    .education{
        flex-direction: column;
    }
    .experience{
        flex-direction: column;
    }
    .institution-diploma{
        margin-bottom: 5px;
    }
    .position-information{
        margin-bottom: 5px;
    }
}